---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Avatar from "~/components/Avatar.astro";
import { HOME } from "~/constants";

export interface Props {
  pageDescription?: string;
}

const { pageDescription } = Astro.props;

const socialLinks = await getCollection("socialLinks").then((arr) =>
  // Sort the social links alphabetically by name
  arr.sort((a, b) => a.data.name.localeCompare(b.data.name)),
);
---

<section class="sm:flex gap-8 space-y-4 sm:space-y-0 z-10" id="hero">
  <div
    class="max-w-4xl space-y-4 grow"
  >
    <div class="flex items-center gap-4">
      <h1 class="font-[Fraunces] text-4xl sm:text-5xl font-bold tracking-tight text-gray-50 leading-[0.9]">
        {HOME.title}
      </h1>
      <div class="flex justify-center space-x-2 md:order-2">
        {
          socialLinks.map(async ({ data: socialLink }) => (
            <a
              aria-label={socialLink.name}
              class="text-gray-400 hover:text-primary-500 bg-gray-900 hover:bg-gray-800 border border-gray-800 hover:border-primary-500/50 p-1.5 default-transition default-focus"
              href={socialLink.url}
              rel="noreferrer"
              target="_blank"
              title={socialLink.name}
            >
              <span class="sr-only">{socialLink.name}</span>
              <Icon class="size-4" name={socialLink.icon} />
            </a>
          ))
        }
      </div>
    </div>

    <h2 class="text-lg text-gray-500 md:max-w-lg">
      {pageDescription ?? HOME.subtitle}
    </h2>
  </div>

  <div class="hidden sm:block">
    <Avatar className="h-24 w-24 lg:h-32 lg:w-32" width={128} height={128} />
  </div>
</section>
